/* @import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap"); */
/* @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Catamaran&display=swap");

:root {
  --main1: rgb(26, 26, 26);
  --main2: rgb(90, 90, 90);
  --pink: rgb(204, 28, 126);
  --purple1: rgb(131, 0, 131);
  --purple2: rgb(39, 0, 39);
  --purple3: rgb(255, 234, 255);
  --purple4: rgb(211, 178, 255);
  margin: 0;
  padding: 0;
}

body {
  background: var(--main1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 0.25rem;
  color: var(--purple3);
}

.text-highlight {
  color: var(--pink);
}

.navbar {
  background: linear-gradient(
    59deg,
    rgb(39, 73, 111),
    rgb(53, 31, 83),
    #d3b2ff
  );
  background-size: 400% 400%;

  -webkit-animation: nav-gradient 6s ease infinite;
  -moz-animation: nav-gradient 6s ease infinite;
  animation: nav-gradient 6s ease infinite;

  @-webkit-keyframes nav-gradient {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @-moz-keyframes nav-gradient {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @keyframes nav-gradient {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
}

.nav-link {
  font-size: 1.7rem;
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
  color: white;
  transition: 0.25s;
}

.nav-link:hover {
  color: var(--purple2);
  transition: 0.25s;
}

.cart-icon {
  cursor: pointer;
  color: var(--pink);
  font-size: 2rem;
  margin: 0.5rem 1rem;
}

.cart-icon:hover {
  filter: brightness(0.8);
}

/* PARALLAX IMAGE STYLES */

.parallax-container {
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
}

.para1 {
  transform: translateY(-20%);
  position: absolute;
  bottom: 100;
  left: 0;
  width: 100%;
}

.para2 {
  position: absolute;
  width: 100%;
  transform: translate(0px, 250px);
}

.para3 {
  position: absolute;
  width: 100%;
}

.para4 {
  position: absolute;
  width: 100%;
}

.para5 {
  position: absolute;
  width: 100%;
  transform: translate(100px, -300px);
}

@media (max-width: 700px) {
  .parallax-container {
    height: 40vh;
  }

  .para1 {
    width: 150%;
  }

  .para2 {
    width: 150%;
    transform: translate(0, 80px);
  }

  .para3 {
    width: 150%;
  }

  .para4 {
    width: 150%;
  }

  .para5 {
    transform: none;
  }
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.7);
}

.secondary-background {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background-position-y: -14em;
  background-attachment: fixed;
  filter: brightness(0.7);
}

@media (min-width: 700px) {
  .secondary-background {
    background-position-y: initial !important;
  }
}

.main-logo {
  z-index: 1000;
  margin: 0;
  padding: 0;
  height: 400px;
  background-size: 50%;
  background-position: center;
  border-radius: 100%;
}

.btn-purple {
  color: var(--purple4) !important;
  border-color: var(--purple1) !important;
}

.btn-purple:hover {
  background: var(--purple1) !important;
  color: var(--purple3) !important;
}

.about-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 0 2rem 0;
}

.pagination-btn-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 0 2em 2em 2em;
}

.portfolio-preview,
.contact {
  overflow: hidden;
}

.contact input,
.contact textarea {
  background-color: var(--purple3);
}

.contact label {
  display: none;
}

.card-img-top {
  width: 100% !important;
}

.portfolio-page {
  overflow: hidden;
}

.footer {
  color: var(--purple3);
  background: linear-gradient(59deg, #27496f, #351f53, #d3b2ff);
  background-size: 400% 400%;

  -webkit-animation: nav-gradient 6s ease infinite;
  -moz-animation: nav-gradient 6s ease infinite;
  animation: nav-gradient 6s ease infinite;

  @-webkit-keyframes nav-gradient {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @-moz-keyframes nav-gradient {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @keyframes nav-gradient {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
}

.contact-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.contact-nav-link {
  filter: brightness(1.2);
}

.card {
  background-color: var(--main1) !important;
  filter: brightness(1.2);
}

.article-body img {
  max-width: 80%;
}
