@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

:root {
  --main1: rgb(26, 26, 26);
  --main2: rgb(90, 90, 90);
  --main3: rgb(235, 235, 235);
  --main4: rgb(131, 0, 131);
}

body {
  background: var(--main1);
  color: var(--main1);
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.25rem;
}

.text-highlight {
  color: var(--main4);
}

.main-logo {
  margin: 0;
  padding: 0;
  height: 300px;
  background: radial-gradient(rgba(105, 105, 105, 0.5) 40%,rgba(255,255,255,0.5)20%,rgba(255, 234, 234, 0) 80%);
  border-radius: 100%;
}

.nav-link {
  font-size: 1.5rem;
}

.cart-icon {
  cursor: pointer;
  color: var(--main3);
  font-size: 2rem;
  margin: 0.5rem 1rem;
}

.cart-icon:hover {
  filter: brightness(0.8);
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}